@import 'utils/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  background-color: $--white-color;
  color: $--black-color;
}

.container {
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  background-color: $--white-color;
}

.containerLink li {
  display: inline-block;
  margin-top: 32px;
  justify-content: space-between;
}

.header_navigation {
  display: flex;
  justify-content: center;
  flex-direction: row;

  .item {
    display: flex;
    flex-direction: row;
    text-decoration: none;
  }

  .link:hover, .title-text1:hover {
    text-decoration: underline;
    border-bottom: var(--blue-color);
    border-bottom: 4px;
    transition: var(--portrait-transition);
  }
}

.containerLink__contact {
  &:hover * {
    fill: $--blue-color;
    color: $--blue-color;
    border-bottom: $--blue-color;
    border-bottom: 4px;
    transition: $--portrait-transition;
  }

  margin-left: 50px;
}

.email {
  margin-right: 10px;
}

#bg {
  display: flex;
  height: 600px;
  width: 100%;
  border-radius: 0px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(".././images/background.jpg");
  background-color: rgba(47, 48, 58, 0.4);
}

.header__Logo {
  color: $--blue-color;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  margin-right: 93px;
  margin-bottom: 25px;
  margin-top: 24px;
  text-decoration: none;
}

.link {
  color: $--black-color;
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 32px;
  text-decoration: none;

  &:hover * {
    color: $--blue-color;
    border-bottom: $--blue-color;
    border-bottom: 4px;
    transition: $--portrait-transition;
  }

  &:active * {
    color: $--green-color;
    border-bottom: $--blue-color;
    border-bottom: 4px;
  }
}

.containerLink__item {
  a {
    &:hover, &.active, &:active * {
      color: $--blue-color;
      border-bottom: 4px solid $--blue-color;
      padding: 0 0 26px 0;
    }
  }

  font-size: 14px;
}

.equipment__item {
  display: inline-block;
  padding-top: 32px;
  padding-left: 23px;
}

.button2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  width: 261px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;
  border: $--blue-color;
  background: $--blue-color;
  color: $--white-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: $--white-color;
    background-color: $--blue-color;
    transition: $--portrait-transition;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.equipment__container-img {
  width: 373px;
  height: 323px;
}

.container2 {
  width: 100%;
  height: 708px;
  background-color: #F5F4FA;
  display: inline-block;
  justify-content: center;
}

.equipment {
  li {
    display: flex;
    display: inline-block;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  margin-bottom: 94px;
}

.card {
  &:nth-child(1), &:nth-child(2), &:nth-child(3) {
    margin-right: 30px;
  }

  display: inline-block;
  width: 270px;
  height: 428px;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  .card__contents {
    padding: 30px;
    text-align: center;
    flex-wrap: wrap;
  }
}

.redes {
  fill: $--gray-color;
  background-color: #FFFFFF;
  border-radius: 50%;

  &:hover, &:focus {
    background-color: $--blue-color;
    fill: $--white-color;
    transition: $--portrait-transition;
  }
}

.redes-footer {
  fill: $--white-color;
  margin-right: 10px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  &:hover, &:focus {
    background-color: $--blue-color;
    fill: $--white-color;
    transition: $--portrait-transition;
  }
}

.container-img1 {
  width: 270px;
  height: 260px;
}

.portfolio {
  max-width: 1200px;
  margin: 0 auto;
}

.seccion {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: space-between;
}

#buttons-center {
  display: inline-block;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  margin-top: 106px;
  margin-bottom: 50px;
  border: none;
}

#container {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
}

.title-text1 {
  color: $--gray-color;

  &:hover {
    color: $--blue-color;
    transition: $--portrait-transition;
  }

  &:active {
    color: $--green-color;
  }
}

.button {
  height: 38px;
  width: 128px;
  border-radius: 4px;
  left: calc(50% - 128px/2 - 160px);
  top: calc(50% - 38px/2 - 735px);
  cursor: pointer;
  border: $--white-color;
  background: #F5F4FA;
  margin-right: 8px;
  color: $--black-color;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;

  &:hover {
    color: $--white-color;
    background-color: $--blue-color;
    transition: $--portrait-transition;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

p {
  color: $--gray-color;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-right: 30px;
  width: 270px;
}

h1 {
  color: $--white-color;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  height: 120px;
}

h2 {
  color: $--black-color;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 94px;
  margin-bottom: 55px;
}

h3 {
  color: $--black-color;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

h4 {
  color: $--blue-color;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.card-2 {
  width: 370px;
  height: 420px;
  margin-bottom: 30px;
  background: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #EEEEEE;
  cursor: pointer;
}

:focus .card-2 {
  outline: 4px solid $--blue-color;
}

.card {
  .contents-card {
    padding: 30px;
    text-align: justify;
  }

  &:hover {
    font-size: 18px;
    line-height: 28px;
    transition: $--portrait-transition;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.card-2 {
  .contents-card2 {
    padding: 20px;
    text-align: justify;
  }

  &:hover {
    font-size: 18px;
    line-height: 28px;
    transition: $--portrait-transition;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.image-card:hover .card-hover {
  transform: translateY(0%);
}

.card-hover {
  padding: 63px 24px;
  top: 0;
  left: 0;
  position: absolute;
  color: $--white-color;
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  letter-spacing: 0.03em;
  transform: translateY(105%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image-card {
  overflow: hidden;
  position: relative;
}

.contents__text {
  margin-top: 82px;
}

.title-text {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  padding-left: -300px;

  &:hover {
    color: $--blue-color;
  }

  &:active {
    color: $--green-color;
  }
}

.container .customers {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: space-between;
  background: $--white-color;
}

.customers__svgs {
  fill: $--gray-color;
  cursor: pointer;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: $--gray-color;
  border-radius: 4px;
  width: 170px;
  height: 81px;
  box-sizing: border-box;
  border: 1px solid $--gray-color;

  &:hover, &:focus {
    fill: $--blue-color;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: $--blue-color;
    border-radius: 4px;
    width: 170px;
    height: 81px;
    box-sizing: border-box;
    border: 1px solid $--blue-color;
  }
}

.customers > .customers__svgs:not(:last-child) {
  margin-right: 30px;
}

footer {
  height: 252px;
  width: 100%;
  margin-top: 151px;
  display: flex;
  flex-wrap: wrap;
  background: $--main-color;
}

.container_footer {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 auto;
  align-content: center;
}

.input_footer {
  width: 358px;
  height: 50px;
  margin-right: 10px;
  border-radius: 4px;
  padding: 0 0 0 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: $--main-color;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);

  &:focus {
    border: 2px solid $--blue-color;
  }
}

.suscribcion {
  display: flex;
  flex-direction: row;
}

.buttoms-footer {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  margin-bottom: 40px;
  background: $--blue-color;
  color: $--white-color;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  border: $--blue-color;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.telegram {
  margin: 10px 20px;
}

.container-link {
  margin-left: 65px;
}

.information {
  display: inline;
  margin-right: 70px;
}

/* h3 del portafolio (second-pages)*/

.second-pages {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  color: $--black-color;
}

.equipment__parent-box {
  position: relative;
}

.box {
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  width: 374px;
  height: 70px;
  bottom: 0%;
  justify-content: center;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.h3-box {
  color: $--white-color;
  letter-spacing: 0.03em;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.contents {
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
}

main section {
  &:nth-child(1), &:nth-child(2) {
    background-color: $--white-color;
  }
}

/*ventanas modal*/

.backdrop {
  position: fixed;
  background: rgba(47, 48, 58, 0.4);
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $--modal-transition;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }
}

.modal {
  display: flex;
  position: relative;
  width: 528px;
  height: 581px;
  background-color: $--white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  align-content: center;
  justify-content: center;
}

.exit_modal {
  position: absolute;
  right: 10px;
  top: 17px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  cursor: pointer;

  &:hover {
    color: $--blue-color;
    border: 1px solid $--blue-color;
    transition: $--portrait-transition;

    .modal-exit {
      fill: #2196F3;
    }
  }
}

.modal-exit {
  pointer-events: none;
  fill: #000000;
}

.datos {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.container-modal {
  display: block;
  width: 448px;
  margin-top: 40px;
  align-content: center;
  justify-content: center;
}

.position {
  position: relative;
}

.buttoms-modal {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 40px;
  background: $--blue-color;
  color: $--white-color;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  border: $--blue-color;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container_buttoms {
  width: auto;
  display: flex;
  justify-content: center;
}

.buttoms-modal:hover {
  color: $--white-color;
  background-color: $--blue-color;
  transition: $--portrait-transition;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  margin: 4px 0 10px 0px;
  padding: 0 0 0 42px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;

  &:focus, &:hover {
    border: 2px solid $--blue-color;
  }
}

.icon_svg {
  position: absolute;
  left: 15px;
  top: 18px;
  pointer-events: none;
}

.input {
  &:hover + .icon_svg, &:focus + .icon_svg {
    fill: $--blue-color;
  }
}

.input_comentarios {
  width: 448px;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 25px;
  border-radius: 4px;
  padding: 0 auto;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;

  &:focus, &:hover {
    border: 3px solid $--blue-color;
  }
}

.lin-checkbox {
  display: block;
  padding-left: 36px;
}

.icon_check {
  width: 16px;
  height: 15px;
  padding: 2px;
  align-content: center;
  justify-content: center;
  border-radius: 2px;
  position: absolute;
  left: 50px;
  border: 2px solid #212121;
}

.lin-checkbox input[type="checkbox"]:checked + .icon_check {
  background: $--blue-color;
  border: none;
}
