$--main-color:#2F303A;
  $--blue-color:#2196F3;
  $--black-color:#212121;
  $--white-color:#FFFFFF;
  $--gray-color:#757575;
  $--green-color:#148955;
  $--portrait-transition:bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
  $--modal-transition:opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), z-index 250ms cubic-bezier(0.4, 0, 0.2, 1);
